@import "normalize.css";

// embed fonts
@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Semibold.woff2");
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url("/assets/fonts/TikTokFont-Bold.woff2");
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url("/assets/fonts/TikTokDisplayFont-Bold.woff2");
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url("/assets/fonts/TikTokDisplayFont-Semibold.woff2");
    font-weight: 700;
}

// global styles
:root {
    --primary-color: rgba(254, 44, 85, 1);
    --black-color: black;
    --white-color: white;
    --text-color: #333;
    --tiktok-font: TikTokFont, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--tiktok-font);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
}

button,
input,
[tabbindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px;
    }

    .tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
        top: -8px;
    }
}
