.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .info {
        flex: 1;
        margin-left: 12px;
    }

    .realname {
        font-size: 1.4rem;
        font-weight: 510;
        display: flex;
        align-items: center;
    }

    .checked-icon {
        margin-left: 6px;
        color: rgb(32, 213, 236);
    }

    .username {
        font-size: 1.3rem;
        color: rgba(22, 24, 35, 0.5);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 180px;
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.fullname {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}
