.wrapper {
    width: 240px;
}

.nav-menu {
    margin-left: 10px;
    margin-top: 8px;

    .menu-item {
        display: flex;
        justify-content: flex-start;

        width: 100%;
        font-weight: 700;
        font-size: 18px;
        border-radius: 4px;
        padding: 8px;
        transition: background ease-in-out 0.2s;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }

    .menu-icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }

    .menu-title {
        margin-left: 16px;
    }
}

.user-menu {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding-top: 6px;

    .menu-item {
        padding: 8px 8px 8px 0;
        transform: scale(0.9);
    }

    .menu-label {
        padding: 4px 12px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
}
